﻿@Model System.Collections.Concurrent.ConcurrentQueue

<div class="row">    
        <h2 >Log output : </h2>
        <p>

            @{
                string content = string.Empty;
                while (@Model.TryDequeue(out content))
                {
                <p @(content.Contains("Exception")?(new HtmlString("style=\"color:orangered\"")):null)>@content</p>
                }
            }
            </p>
            </div>
